[Desktop Entry]

Type=Application

Exec=/home/daniel/.repos/configuraciones/glava/glava_daemon.sh

Hidden=false

NoDisplay=false

X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10

Name=GLava
