[Desktop Entry]
Name=qtile
Comment=Python Based Windown Manager
TryExex=qtile
Exec=/home/daniel/.local/bin/qtile start
Type=Application
DesktopNames=qtile
Keywords=tiling;wm;windowmanager;desktop;session;